<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  	<listener>
		<listener-class>com.areasupport.support.listener.IncludeListener</listener-class>
	</listener>
	  
  <servlet>
    <servlet-name>GetProvinces</servlet-name>
    <servlet-class>com.areasupport.api.servlet.GetProvinces</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCities</servlet-name>
    <servlet-class>com.areasupport.api.servlet.GetCities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDistricts</servlet-name>
    <servlet-class>com.areasupport.api.servlet.GetDistricts</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetProvinces</servlet-name>
    <url-pattern>/api/GetProvinces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCities</servlet-name>
    <url-pattern>/api/GetCities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDistricts</servlet-name>
    <url-pattern>/api/GetDistricts</url-pattern>
  </servlet-mapping>	
</web-app>
